<!doctype html>
<title>HelloWorld Software Engineering Assessment</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}">
</script>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.validate.js') }}">
</script>
<script type="text/javascript">
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	function resizeToInner() {
		$("#outer").css("width", $("#inner").width());
	}

	function resizeToTable() {
		$("#outer").css("width", $("div#inner > table").width());
	}
</script>
<div id="outer" class=page>
	<h1>HelloWorld Assessment</h1>
	<br>
	<ul>
		<li><a href="{{ url_for('welcome') }}">Home</a></li>
		<li><a href="{{ url_for('newUser') }}">New User</a></li>
		<li><a href="{{ url_for('listUsers') }}">User List</a></li>
	</ul>
	<br><br>
	{% block body %}{% endblock %}
</div>
