{% extends "layout.html" %}
{% block body %}
	<script>
		$.validator.addMethod("buga", function(value) {
			var l = value.toString().length
			return (l == 5 || l == 9);
		}, "Zip codes must be 5 or 9 digits");

		$(document).ready(function(){
			$("#outer").css("width", $("#inner").width());
			$("#submitBtn").click(function() {
				$("#newUser").validate({
					rules: {
						first_name: {
							required: true
						},
						last_name: {
							required: true
						},
						address1: {
							required: true
						},
						city: {
							required: true
						},
						state: {
							required: true
						},
						zip_code: "buga",
					}
				});
			});
		});
	</script>
	<div id="inner" class="new-user">
		<form class="nuForm" id="newUser" action="" method="POST">
			<fieldset>
				<legend>Please enter your user information below</legend>
				<p>
					<label for="first_name">First Name:</label>
					<input id="first_name" type="text" name="first_name" value="">
				</p>
				<p>
					<label for="last_name">Last Name:</label>
					<input id="last_name" type="text" name="last_name" value="">
				</p>
				<p>
					<label for="address1">Address 1:</label>
					<input id="address1" type="text" name="address1" value="">
				</p>
				<p>
					<label for="add2">Address 2:</label>
					<input id="add2" type="text" name="address2" value="">
				</p>
				<p>
					<label for="city">City:</label>
					<input id="city" type="text" name="city" value="">
				</p>
				<p>
					<label for="state">State:</label>
					<input id="state" type="text" name="state" value="">
				</p>
				<p>
					<label for="zip_code">Zip Code:</label>
					<input id="zip_code" type="text" name="zip_code" value="">
				</p>
				<p>
					<label for="country">Country:</label>
					<select id="country" name="country">
						<option value="US">United States (US)</option>
					</select>
				</p>
				<p>
					<input id="submitBtn" class="submit" type="submit" value="Submit">
				</p>
			</fieldset>
		</form>
	</div>
{% endblock %}
