<!DOCTYPE html>
<html lang="en">
	<head>
		    <title>New Users</title>
	</head>
	<body>
		<h1>Please enter your user information</h1>
		<form method="POST">
			First name:<br>
			<input type="text" name="firstname" value="">
			<br>
			Last name:<br>
			<input type="text" name="lastname" value="">
			<br>
			Address 1:<br>
			<input type="text" name="address1" value="">
			<br>
			Address 2:<br>
			<input type="text" name="address2" value="">
			<br>
			City:<br>
			<input type="text" name="city" value="">
			<br>
			State:<br>
			<input type="text" name="state" value="">
			<br>
			Zip Code:<br>
			<input type="text" name="zip_code" value="">
			<br>
			Country:<br>
			<input type="text" name="country" value="">
			<br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
