{% extends "layout.html" %}
{% block body %}
	<script>
		$.validator.addMethod("zipValid", function(value) {
			"use strict";
			return value.match(/\d{5}(-\d{4})/) === value;
		}, "Zip codes must 99999 or 99999-9999");

		$(document).ready(function(){
			resizeToInner();
			$("#submitBtn").click(function() {
				$("#newUser").validate({
					rules: {
						first_name: {
							required: true
						},
						last_name: {
							required: true
						},
						address1: {
							required: true
						},
						city: {
							required: true
						},
						state: {
							required: true
						},
						zip_code: "zipValid",
					}
				});
			});
		});
	</script>
	<div id="inner" class="new-user">
		<form class="nuForm" id="newUser" action="" method="POST">
			<fieldset>
				<legend>Please enter your user information below</legend>
				<table>
				<tr>
					<td><label for="first_name">First Name:</label></td>
					<td><input id="first_name" type="text" name="first_name" value=""></td>
				</tr>
				<tr>
					<td><label for="last_name">Last Name:</label></td>
					<td><input id="last_name" type="text" name="last_name" value=""></td>
				</tr>
				<tr>
					<td><label for="address1">Address 1:</label></td>
					<td><input id="address1" type="text" name="address1" value=""></td>
				</tr>
				<tr>
					<td><label for="add2">Address 2:</label></td>
					<td><input id="add2" type="text" name="address2" value=""></td>
				</tr>
				<tr>
					<td><label for="city">City:</label></td>
					<td><input id="city" type="text" name="city" value=""></td>
				</tr>
				<tr>
					<td><label for="state">State:</label></td>
					<td><input id="state" type="text" name="state" value=""></td>
				</tr>
				<tr>
					<td><label for="zip_code">Zip Code:</label></td>
					<td><input id="zip_code" type="text" name="zip_code" value=""></td>
				</tr>
				<tr>
					<td><label for="country">Country:</label></td>
					<td><select id="country" name="country">
						<option value="US">United States (US)</option>
					</select></td>
				</tr>
				</table>
				<p>
					<input id="submitBtn" class="submit" type="submit" value="Submit">
				</p>
			</fieldset>
		</form>
	</div>
{% endblock %}
